<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mredrock.cyxbs.freshman">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/freshmanic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/freshman_network_security_config"
            android:roundIcon="@mipmap/freshmanic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/freshman_AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".ui.acivity.EditActivity">
        </activity>
        <activity android:name=".ui.acivity.NecessitiesMemoActivity">
        </activity>
        <activity android:name=".ui.acivity.DemystifyDetailActivity">
        </activity>
        <activity android:name=".ui.acivity.MoreFunctionActivity">
        </activity>
        <activity android:name=".ui.acivity.OnlineCommunicationActivity"
                  android:windowSoftInputMode = "adjustPan">
        </activity>
        <activity android:name=".ui.acivity.GuideActivity">
        </activity>
        <activity android:name=".ui.acivity.CampusGuideActivity">
        </activity>
        <activity android:name=".ui.acivity.ProcessActivity">
        </activity>
        <activity android:name=".ui.acivity.NecessityActivity">
        </activity>
        <activity android:name=".ui.acivity.MyPhotoViewActivity">
        </activity>
        <activity android:name=".ui.acivity.HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>