<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mredrock.cyxbs.freshman">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/freshmanic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/freshmanic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/freshman_AppTheme">
        <activity android:name=".ui.acivity.MoreFunctionActivity">
        </activity>
        <activity android:name=".ui.acivity.OnlineCommunicationActivity">
        </activity>
        <activity android:name=".ui.acivity.GuideActivity">
        </activity>
        <activity android:name=".ui.acivity.CampusGuideActivity">
        </activity>
        <activity android:name=".ui.acivity.ProcessActivity">
        </activity>
        <activity android:name=".ui.acivity.NecessityActivity">
        </activity>
        <activity android:name=".ui.acivity.WordsActivity">
        </activity>
        <activity android:name=".ui.acivity.HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>